@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: #dddddd;
}
body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: #4d4b4b;
}
table {
    border-collapse: collapse;
}
.header_fixed {
    height: 500px;
    overflow: auto;
    margin-top: 90px;
    margin-left: -60px;
    margin-right: 60px;
    border: 1px solid #dddddd;
}
.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}
th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #edeef1;
}
tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}
td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
